<div class="row" >
  <div class="col">
    <p>&nbsp;</p>
  </div>
</div> <!-- blank row-->

<div class="row">

  <div class="col-md-3"> <!-- catetory display area -->    
    <app-product-filter [category] = "category"></app-product-filter>
  </div>

  <div class="col-md-9"> <!-- product display area -->
  <div class="row" *ngIf="cart$ | async as cart">
  
  
     <ng-container *ngFor="let product of filteredProduct; let i = index">

        <div class="col prod">          

          <product-card [product]="product" [shopping-cart]="cart" [index]="i"  ></product-card>

        </div>
        <div *ngIf="(i+1)%2 === 0" class="w-100"></div>

      </ng-container>
	  
	  
	  
    </div> 
  </div>  
   
<!--<pre>{{cart | json}}</pre>-->
</div>