<div class="row" >
  <div class="col">
    <p>&nbsp;</p>
  </div>
</div> <!-- blank row-->

<div class="row">

  <div class="col-3"> <!-- catetory display area -->    
    <app-product-filter [category] = "category"></app-product-filter>
  </div>

  <div class="col"> <!-- product display area -->
  <div class="row">
     <ng-container *ngFor="let product of filteredProduct; let i = index">

        <div class="col prod">          

          <product-card [product]="product" [shoppint-cart] = "cart" ></product-card>

        </div>
        <div *ngIf="(i+1)%2 === 0" class="w-100"></div>

      </ng-container>
    </div> 
  </div>
  <pre>{{filteredProduct.length}}</pre>
   
<!--<pre>{{cart | json}}</pre>-->
</div>