<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Customer</th>
        <th scope="col">Date</th>
        <th scope="col">View</th>
      </tr>
    </thead>
    <tbody>
     
      <tr *ngFor ="let order of orders$ | async; index as i " >
       
        <th scope="row">{{i+1}}</th>
        <td>{{order.userId}}</td>
        <td>{{order.datePlaced}}</td>
        <td><a [routerLink]= "['/admin/orders/',order.userId]" >View</a></td>
      </tr>
      
    </tbody>
  </table>